<%- include('partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a href="/downloadResume">
  <button class="btn-primary">Download Resume</button>
  </a>
<%- include('partials/footer.ejs') %>

